

.titulo{
	text-shadow: black 0.1em 0.1em 0.2em;
	color: #FFFFFF;
	background:url("../images/unesp_logo.png") 5px 0 no-repeat;
	background-position: 5px 5px;
	padding-left:57px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin:0;
}

.tituloRelatorio{
	color: #000000;
	background:url("../images/unesp_logo.png") 5px 0 no-repeat;
	background-position: 5px 5px;
	padding-left:57px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin:0;
}

.transicao{
	background-image: linear-gradient(to right, #000080, #0000b3);
	padding: 2px;
	text-shadow: black 0.1em 0.1em 0.2em;
	color: #FFFFFF;
	padding-left:57px;
}


.transicaoRelatorio{
	background-color: #FFFFFF;
	padding: 2px;
	color: #000000;
	padding-left:57px;
}

header.relatorio{
	/*background: url("../image/header.jpg") no-repeat;*/
	color:'#000000';
}

header.pagina{
	/*background: url("../image/header.jpg") no-repeat;*/
	background-image: linear-gradient(to right, white, #3399ff,#1a8cff,#003366);

}


#login{
	background-color: #f0f0f5;
}
.login_title{	
	color: black;
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
}

table.tableRelatorio{
	 width: 100%;
	 border-style: solid;
	 border-width: 1px;
}

table.tableRelatorio tr:nth-child(2n+1)
{
	background-color: #EBEBE0;
}

table.tableRelatorio td,table.tableRelatorio th{
	border: 1px solid #ddd;
}


table.tableRelatorio tr:nth-child(2n)
{
	background-color: white;
}

table.tableRelatorio th{
	background-color: #FFFFFF;
}

body{
	margin-top:0px;
	padding-bottom: 70px;
}

footer{
	/*color: blue;
	background-color: #00001a;
	margin: auto;*/
	padding-bottom: 20px;
	/*width: 100%;
	position: fixed;
	bottom: 0;
	background-image: linear-gradient(to top,#00004d ,  #000066 130%);*/
}
